*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
}

.navbar a {
    display: block;
    padding: 25px 25px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s;
}
.navbar a:hover {
    background: #01004b;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    padding-top: 150px;
    height: 60vh !important;
    background: url(img/fondo2.png) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 65px;
    font-size: 65px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    padding: 10px;
    background-color: #00000063;
    margin-bottom: 40px;
    font-size: 18px;
    color:#ffffff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    background:#01004b;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
} 

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sau {
    padding: 100px;
    background: #01004b;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #000000;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0. 3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;

}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #01004b;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #ffffff;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #000000;

}

.price {
    padding: 75px;
    background: url(img/fondoprin2.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.contact {
    padding-top: 250px;
    background: #000000;
    padding-bottom: 0;

}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

.sau {
    height: 120vh;
}

.navbar {
    display: none;
}

}


.container-form {
    width: 100%;
    max-width: 1100px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
    color: white;
}
.container-form p {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
    color: white;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    color:rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}
.container-form form .campo, textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;   
}

.container-form form textarea {
     max-width: 530px;
     min-width: 530px;
     min-height: 140px;
     max-height: 150px;
}
.container-form .btn-enviar {
     padding: 15px;
     font-size: 16px;
     border: none;
     background: #ff0000;
     color: white;
     border-radius: 3px;
     cursor: pointer;
     transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
     color: white;
     background: #000000;
}